body {
    background-color: rgb(187, 187, 187);
    font-family:'Courier New', Courier, monospace;
}

P {
    color: rgb(65, 69, 77);
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3, strong {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}
h1 { 
    background-color: rgb(126, 133, 148) ;
    color: rgb(65, 69, 77);
    font-size: 30px;
    padding: 20px;
    border: 5px, solid, black;
    text-align: center;
}
