body {
    background-color:lightgray;
}

main {
    max-width: 1400px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px 40px;
    border: 3px solid black;
    text-align: center;
}

.programovesoubory {
    text-decoration: underline;
}

.uvodnistranka {
    text-decoration: none !important;
}

.soubory {
    margin: 20px 0;
    width: 750px;
}


ul li {
    list-style-type: none;
}