.headertext {
    margin-left: 120px;
}

.ovladace {
    margin-right: 150px;
}


.nav-link {
    color: black !important;
}   

.nav-link.active {
    background-color: white !important;
    display: inline-block;
    text-decoration: underline;
}