body {
    background-color:lightgray;
}

main {
    max-width: 1400px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px 40px;
    border: 3px solid black;
    text-align: center;
}

.obsah {
    width: 700px;
    margin-bottom: 40px;
    border: 1px solid grey;
}

/* .arrow {
    margin-bottom: 30px;
} */

.mainpage a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.mainpage a:hover {
    background-color: black;
    color: white;
}

.pUnderText {
    padding-top: 10px;
}


.licence {
    margin-right: -45px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


