body {
    background-color: lightgray;
}

main {
    max-width: 1400px;
    background-color: aliceblue;
    margin: auto;
    padding: 20px 40px;     
    border: 3px solid black;
}

#ovladace {
    margin-left: 35%;
}
.driversjpg {
    width: 750px;
    border: 2px solid gray;
    margin: 20px 290px;
}