body {
    background-color: lightgray;
}

main {
    max-width: 1400px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px 40px;
    border: 3px solid black;
    text-align: center;
}