body {
    background-color:lightgray;
}

main {
    max-width: 1400px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px 40px;
    border: 3px solid black;
}

.programovesoubory {
    text-decoration: underline;
}

.uvodnistranka {
    text-decoration: none !important;
}

#programovesoubory {
    margin-left: 33%;
}

.soubory {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 750px;
    border: 1px solid gray;
}

ul li {
    list-style-type: none;
}

.licence {
    margin-right: -45px;
}

.fa-file {
    margin-left: 49%;
    margin-top: 10px;
}
